In [1]:
#1 Find the val%e of T(2) for the rec%rrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.
def T(n, memo):
    if n == 0:
        return 5
    if n in memo:
        return memo[n]
    memo[n] = 3 * T(n - 1, memo) + 12 * n
    return memo[n]

# Calculate T(2)
n = 2
memo = {}
result = T(n, memo)
print("T(2) =", result)

T(2) = 105

In [2]:
#2. Given a rec%rrence relation, solve it %sing the s%bstit%tion method:
#a. T(n) = T(n-1) + c
def T_a(n, c):
    if n == 0:
        return 0
    return T_a(n - 1, c) + c

# Example usage:
n = 5
c = 2
result = T_a(n, c)
print("T({}) =".format(n), result)

T(5) = 10

In [3]:
#b. T(n) = 2T(n/2) + n
def T_b(n):
    if n == 1:
        return 1
    return 2 * T_b(n // 2) + n

# Example usage:
n = 8
result = T_b(n)
print("T({}) =".format(n), result)

T(8) = 32

In [4]:
#c. T(n) = 2T(n/2) + c
def T_c(n, c):
    if n == 1:
        return c
    return 2 * T_c(n // 2, c) + c

# Example usage:
n = 8
c = 3
result = T_c(n, c)
print("T({}) =".format(n), result)

T(8) = 45

In [5]:
#d. T(n) = T(n/2) + c
def T_d(n, c):
    if n == 1:
        return c
    return T_d(n // 2, c) + c

# Example usage:
n = 8
c = 4
result = T_d(n, c)
print("T({}) =".format(n), result)

T(8) = 16

In [6]:
#3. Given a rec%rrence relation, solve it %sing the rec%rsive tree approach:
#a. T(n) = 2T(n-1) +1
def T_a(n):
    if n == 0:
        return 0
    return 2 * T_a(n - 1) + 1

# Example usage:
n = 3
result = T_a(n)
print("T({}) =".format(n), result)

T(3) = 7

In [7]:
#b. T(n) = 2T(n/2) + n
import math

def T_b(n):
    if n == 1:
        return 1
    return 2 * T_b(n // 2) + n

# Example usage:
n = 8
result = T_b(n)
print("T({}) =".format(n), result)

T(8) = 32